.wrapper{
    width: 1278px;
    margin: 0 auto;
    background:url(../image/beijingtupian.png) repeat top left transparent scroll;

}
a{
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom: 1;
}
input{
    outline: none;
}
.fl{
    float: left;
    display: inline;
}

.fr{
    float: right;
    display: inline;
}

/*＝＝＝＝＝＝＝＝＝＝＝content通用部分＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.content .image{
    height: 414px;
    overflow: hidden;
    position: relative;
}
.image .image-banner{
    width: 100%;
    padding: 25px 0px;
    position: absolute;
    top: 200px;
    left: 208px;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    background: url(../image/渐变.png) repeat-x transparent left top;
}
.image-banner p:first-child{
    font-style: italic;
    font-family: serif;
    word-spacing: 5px;
    margin-bottom: 22px;
}
.image-banner p{
    margin-bottom: 22px;
}
.image ul{
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.image ul li{
    display: inline-block;
    position: relative;
    left: -50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    background: #fff;
    box-shadow: inset 6px 6px 7px #9E9A9A;
    text-align: center;
    margin-right: 4px;
}
.image .circle{
    width: 8px;
    height: 8px;
    background: #174065;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    display: none;
}
.image ul li:hover
.circle{
    display: block;

}

/*=====================content right-bar=================*/
.right-bar{
    width: 873px;
}

.right-bar .fr{
    position: relative;
}
.right-bar .right-formlayout{
    line-height: 30px;
    width: 265px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #dedede;
    font-size: 12px;
    box-shadow: inset 0px 0px 10px #dedede;
    padding-left: 15px;
}
.right-bar .miro{
    position: absolute;
    left: 255px;
    top: 5px;
    border-radius: 4px;
    border: 1px solid #dedede;
}

/*=========================index  yueyang-information===============*/
.first-page,
.first-page a{
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
}
.first-page span{
    color: #174065;
    font-weight: bold;
}
.yueyang-information{
    margin-top: 27px;
    position: relative;
    width: 100%;
    min-height: 280px;
}

.yueyang-information .fr{
    position: relative;
}

.yueyang-information ul,
.yueyang-information input{
    display: inline-block;
}
.yueyang-information ul li{
    display: inline-block;
}
.yueyang-information li .hover{
    display: inline-block;
    width: 210px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    background: #bdbdbd;
    border-radius: 4px 4px 0px 0px;
    margin-right: -2px;
}
.yueyang-information .onselected,
.yueyang-information .hover:hover{
    color:#174065 ;
    background: #f7f7f7;
}
.yueyang-information .miro{
    position: absolute;
    left: 255px;
    top: 5px;
    border-radius: 4px;
    border: 1px solid #dedede;
}
.yueyang-news{
    background: #f7f7f7;
    border-radius: 0px 4px 4px 4px;
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}
.yueyang-news-on,
.yueyang-information-hover:hover .yueyang-news{
    display: block;
}
.yueyang-news-detail{
    padding: 25px 30px 25px 19px;
}
.yueyang-news-detail .yueyang-news-detail-width{
    width: 580px;
}

.yueyang-news .fix{
    padding-top: 0px;
}
.yueyang-new{
    border-bottom: 1px dashed #999999;
    padding-top: 10px;
}
.yueyang-new .yueyang-new-title{
    font-size: 14px;
    font-weight: bold;
    color:#174065;
    position: relative;
}
.yueyang-new-title span{
    position: absolute;
    top: -5px;
    color: #f8b551;
    font-size: 10px;
}
.yueyang-new .yueyang-new-detail{
    font-size: 12px;
    color: #999999;
    width: 345px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 70px 10px 0px;
}


.dash{
    padding-top: 25px;
    margin-bottom: 25px;
    border-bottom:1px dashed #174065;
    position: relative;
}
.dash-layout{
    margin-top: 40px;
}
.dash h3{
    position: absolute;
    top:16px;
    text-align: center;
    width: 90px;
    background: #fff;
    left: 50%;
    margin-left: -45px;
}
.yueyang-regnant{
    margin-right: -30px;
    margin-bottom: 30px;
}
.regnant{
    width: 270px;
    height: 312px;
    background: #f0f0f0;
    text-align: center;
    border-radius: 4px;
    margin-right: 30px;
}
.regnant-content{
    padding: 40px 20px;
}
.regnant p{
    margin-bottom: 40px;
}
.regnant .regnant-title{
    color: #7f8c8c;
    font-size: 16px;
    background: url(../image/品牌优势.png) no-repeat top center transparent;
    padding-top: 75px;
}
.regnant .regnant-detail{
    font-size: 12px;
    color: #777777;
    line-height: 20px;

}
.regnant .service{
    background: url(../image/团队优势.png)no-repeat top center transparent;
}
.regnant .team{
    background: url(../image/专业优势.png)no-repeat top center transparent;
}
.regnant a{
    font-size: 14px;
    color: #1d3d56;
    padding: 10px;
}



/*content脚部*/
.content-footer{
    position: relative;
    background: url(../image/脚部logo.png) no-repeat left 35px transparent;
    margin: 0px 60px 0px 93px;

}
.content-footer ul{
    padding: 15px 0px 30px 154px;
    background: url(../image/fengexian.png) no-repeat -50px -1335px transparent;

}
.content-footer li{
    float: left;
    margin-right: 7px;
}
.friend-link{
    width: 180px;
    height: 120px;
    position: absolute;
    top: 10px;
    right: -4px;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: inset 0px 0px 4px #999999;
    font-size: 12px;
    color: #808080;

}
.friend-link-first{
    font-weight: bold;
    padding: 10px 0px 10px 10px;
}
.friend-link a{
    display: block;
    padding: 8px;
    color:#808080;
}
.friend-link a:hover{
    background:#e3e3e3 ;
}
